@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Light mode (default) */
body {
  background-color: #F9FAFB;
  color: #121826;
}

/* Dark mode */
body.dark {
  background-color: #121826;
  color: #F9FAFB;
}
